body{
    background-image: url("background.jpg");
    background-size: cover;

}
#primoriquadro{
    position: absolute;
    width: 3300px;
    height: 2350px;
    background-color: black;
    margin-left: 1000px;
    margin-top: 70px;
    opacity: 60%;
    border-radius: 3%;
}
#secondoriquadro{
    position: absolute;
    width: 3300px;
    height: 2350px;
    margin-left: 1000px;
    margin-top: 70px;


}
#Img{
    padding-left: 1300px;
    padding-top: 290px;
}
#dimensioneH3{
    color: limegreen;
    font-size: 100px;
    padding-left: 1000px;
    margin-top: 20px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    
    
    
    
}
#bottone1{
    margin-left: 970px;
    font-size: 40px;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 7px;
    

}

#bottone2{
    font-size: 40px;
    padding-top: 3px;
    padding-bottom: 10px;


}

#bottone3{
    font-size: 40px;
    padding-top: 3px;
    padding-bottom: 10px;

}
   


#riga{
    position: absolute;
    background-color: limegreen;
    width: 2740px;
    height: 120px;
    margin-left: 260px;
    margin-bottom: 40px;
    
}
#terzoriquadro{
    width: 2740px;
    height: 1500px;
    margin-left: 270px;
    margin-top: 170px;
}
#quadratino{
    width: 35px;
    height: 35px;

}
#monopattinoGinoS{
    color: white;
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    
    

}
#via1{
    color: white;
    font-size: 43px;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}
#barradicarica{
    width: 940px;
    height: 70px;
    background-color: rgba(245, 180, 83, 255);
    border-radius: 10px;
    margin-bottom: 70px;
    
}
#quartoriquadro2{
    width: 2740px;
    height: 1500px;
    margin-left: 270px;
    margin-top: 170px;
    
}
#quadratino2{
    width: 35px;
    height: 35px;

}
#monopattinoGinoS2{
    color: white;
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    
    

}
#via2{
    color: white;
    font-size: 43px;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}
#barradicarica2{
    width: 1640px;
    height: 70px;
    background-color: rgba(30, 195, 30, 255);
    border-radius: 10px;
    margin-bottom: 70px;
}
#quintoriquadro2{
    width: 2740px;
    height: 1500px;
    margin-left: 270px;
    margin-top: 170px;
}
#quadratino3{
    width: 35px;
    height: 35px;

}
#monopattinoGinoS3{
    color: white;
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    
    

}
#via3{
    color: white;
    font-size: 43px;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}
#barradicarica3{
    width: 500px;
    height: 70px;
    background-color: rgba(190, 65, 65, 255);
    border-radius: 10px;
}
